{
  "overrides": [
    {
      "files": [
        "*.mts",
        "*.cts"
      ],
      "plugins": [
        "@typescript-eslint"
      ],
      "extends": "love",
      "parser": "@typescript-eslint/parser"
    }
  ]
}
